[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cached-property = "==1.5.2"
more-itertools = "==8.7.0"
sh = "==1.14.1"

[dev-packages]

[requires]
python_version = "3.9"
